@import "tailwindcss";
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* Sembunyikan scrollbar secara cross-browser */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
}
